body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 60px;
}
/* Navbar */
.row {
  padding: 0 10%;
}
.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-logo img {
  max-height: 30px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.search-form {
  margin-right: 10px;
}

.search-form input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.language-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.donate-button {
  background-color: red;
  color: white;
  padding: 10px 15px;
  border-radius: 3px;
  text-decoration: none;
}

/* List Nav */
.header {
  text-align: center;
  background: white;
  padding: 20px;
}

.navigation {
  display: inline-block;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  display: inline-block;
  padding: 4px;
  margin: 0 10px;
}

.nav-menu li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

.nav-menu li:hover {
  background: gray;
}

.nav-menu li a:hover {
  color: white;
}

/* Hero */
.jumbotron {
  background-image: url('https://static.vecteezy.com/system/resources/previews/021/116/373/original/happy-africa-day-on-25-may-illustration-with-culture-african-tribal-figures-in-flat-cartoon-hand-drawn-for-web-banner-or-landing-page-templates-vector.jpg');
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}

.jumbotron-content {
  background-color: orange;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.jumbotron-content h1 a {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.jumbotron-content h1 a:hover {
  text-decoration: underline;
}

/* About */
.section-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.left, .right {
  flex-basis: 50%;
}

.right {
  flex-basis: 45%;
  text-align: left;
}

.right h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.donate-button2 {
  display: inline-block;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
}

.donate-button i {
  margin-right: 5px;
}

/* Language Nav */
.lang-nav {
  text-align: center;
}

.lang-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lang-list li {
  display: inline-block;
  margin: 0 10px;
}

.lang-list li a {
  text-decoration: none;
  font-size: 16px;
  color: blue;
  font-weight: 500;
}

.lang-list li.active a {
  color: black;
}

/* Card  */
.card-container {
  display: flex;
  margin-top: 50px;
}

.card {
  flex-basis: 25%;
  background-color: #fff;
  padding: 20px;
  margin: 10px;
}

.card h3 {
  font-size: 40px;
  margin-bottom: 10px;
}

.card-description {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-details {
  font-size: 14px;
  color: #888;
}

.card-container_1 {
  display: flex;
}

.card_1 {
  flex-basis: 33.3%;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 10px;
}

.card_1 h3 {
  font-size: 40px;
  margin-bottom: 10px;
}

.card-description_1 {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-details_1 {
  font-size: 14px;
  color: blue;
  font-weight: bold;
}

.card-container_2 {
  display: flex;
}

.card_2 {
  flex-basis: 33.33%;
  background-color: #fff;
  padding: 20px;
  margin: 10px;
}

.card_2:hover {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.card_2 img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card-title_2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-description_2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.view-more-link {
  display: inline-block;
  color: blue;
  text-decoration: none;
}

.card-container_3 {
  display: flex;
}

.card_3 {
  flex-basis: 33.3%;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 10px;
}

.card-img_3 {
  padding-left: 40%;
}

.card-img_3 {
  width: 60px;
}

.card_3 h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.card-description_3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-details_3 {
  font-size: 14px;
  color: blue;
  font-weight: bold;
}

/*Post*/
.post-container {
  display: flex;
}

.left-column {
  flex-basis: 70%;
  padding-right: 20px;
}

.right-column {
  flex-basis: 30%;
}

.post-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-tags {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.post-tags li {
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
}

.post-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.post-date, .post-writer {
  font-size: 14px;
  margin-bottom: 5px;
  color: #888;
}

.read-more-link {
  display: inline-block;
  color: blue;
  text-decoration: none;
}

.right-column img {
  width: 100%;
  height: auto;
}

/* Post  */
.post {
  background-color: #f0f0f0;
  padding: 30px;
  margin-top: 60px;
}

.post h1 {
  font-size: 24px;
}

.post-container {
  display: flex;
  margin-bottom: 60px;
}

.post-left {
  flex-basis: 60%;
  padding-right: 20px;
}

.post-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-title a {
  text-decoration: none;
  color: black;
}

.post-title a:hover {
  color: blue;
  text-decoration: underline;
}

.post-tags {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.post-tags li {
  display: inline-block;
  margin-right: 10px;
  color: blue;
}

.post-tags li:hover {
  background: blue;
  color: white;
}

.post-description {
  margin-bottom: 10px;
  line-height: 30px;
}

.post-date,
.post-writer {
  margin-bottom: 5px;
  font-size: 14px;
}

.read-more-link {
  display: inline-block;
  color: blue;
  text-decoration: none;
}

.post-right {
  flex-basis: 40%;
}

.post-right img {
  width: 100%;
  height: auto;
}

/*Heros*/
.card-container_4 {
  display: flex;
}

.card_4 {
  flex-basis: 33.33%;
  background-color: #fff;
  border: 2px solid #f0f0f0;
  padding: 20px;
  margin: 10px;
}

.card_4:hover {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.card_4 img {
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  padding-left: 30%;
}

.card-title_4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-description_4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.bottom {
  padding: 0 100px;
  text-align: center;
}

/* Donate  */
.post_1 {
  background-color: #f0f0f0;
  padding: 30px;
  margin-top: 60px;
}

.post_1 h1 {
  font-size: 24px;
}

.post_1-container {
  display: flex;
  margin-bottom: 60px;
}

.post_1-left {
  flex-basis: 30%;
  padding-left: 20px;
}

.post_1-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.post_1-title a {
  text-decoration: none;
  color: black;
}

.post_1-title a:hover {
  color: blue;
  text-decoration: underline;
}

.post_1-description {
  margin-bottom: 10px;
  line-height: 30px;
}

.post_1-right {
  flex-basis: 40%;
}

.post_1-right img {
  width: 100%;
  height: auto;
}